.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;
  grid-auto-rows: minmax(200px, auto);
  margin-top: 4rem;
}


img {
    max-width: 300px;
}
