.card-container {
    margin-top: 5rem;
    border: 5px coral;
}

img {
    position: relative;
    border-radius: 25px;
    gap: 8px;
    cursor: pointer;
}

.description {
    font-size: 14px;
}

.address{
    font-size: 14px;
}
