.nav-button {
    background-color: rgb(235, 109, 170);
    box-shadow: bisque;
    border: line;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px
  }
