.hidden {
    display: none;
  }

  .create-spot-link{
    text-decoration: none;
  }

   .navbar {
    display: flex;
    height: 100px;
    /* padding: 0 2rem; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    width: 100%
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    /* max-width: 1024px; */
    /* margin: 0 auto; */
    border-color: black
  }

  .logo-link {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 50px;
  }

  .session-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile-link {
    margin-right: 1.5rem;
  }

  .create-spot-link {
    margin-right: 1.5rem;
  }

  .create-spot-link {
    margin-left: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .create-spot-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    /* background-color: #008489; */
    /* border-radius: 0.25rem; */
    transition: background-color 0.3s ease;
    margin-left: auto;
  }

  /* .create-spot-link:hover {
    background-color: #007478;
  } */

  .modal-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    /* text-decoration: underline; */
    color: rgb(216, 43, 43);
    transition: color 0.3s ease;
  }

  .modal-button:hover {
    color: #007478;
  }

  .nav-items {
    position: relative;
  }

  .nav-items .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  a {
    text-decoration: none;
  }
